/* [ START ] Main Section */
main {
    text-align: center;
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
}
@media screen and (max-width: 768px){
    main {
        padding-top: 2.125rem;
        padding-bottom: 2.3125rem;
    }
}
main img {
    margin-bottom: 2rem;
}
@media screen and (max-width: 768px) {
    main img {
        width: 9rem;
        height: 6rem;
        margin-bottom: 1.5rem;
    }
}
main > div {
    width: 12.125rem;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0.25rem 1.25rem;
    border-radius: 1.40625rem;
    background: #262E38;
    text-align: center;
}
@media screen and (max-width: 768px){
    main > div {
        padding: 0.3125rem 0.75rem;
        margin-bottom: 1.5rem;
    }
}
main > div p {
    color: var(--Orange, #FC7614);
    font-size: 0.9375rem;
    font-weight: 400;
    margin-bottom: 0;
}
@media screen and (max-width: 768px){
    main > div p {
        font-size: 0.875rem !important;
        font-weight: 400;
    }
}
main > p {
    margin-bottom: 0;
}
/* [ END ] Main Section */